/JAVA8INACTION/trunk/Java8InAction/nbproject/private/
/JAVA8INACTION/trunk/Java8InAction/build/
/JAVA8INACTION/trunk/JavaApplicationReplace/nbproject/private/
/JAVA8INACTION/trunk/JavaApplicationReplace/build/